#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.title_box {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #8a5eff;
}

.title {
  font-size: 16px;
}

.caption {
  margin: 20px;
  font-size: 1rem;
  color: #8a5eff;
}
